@page
@model WebApp.Pages.Cliente.EditModel
@{
}


<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">


                <input type="hidden" asp-for="Entity.ClientesId" v-model="Entity.ClientesId" />

                <div class="form-group mb-3">
                    <label for="Entity.NombreCompleto" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreCompleto" v-model="Entity.NombreCompleto" maxlength="250" required>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.Direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" asp-for="Entity.Direccion" v-model="Entity.Direccion" maxlength="250" required>

                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Telefono" class="form-label">Telefono</label>

                    <input type="text" class="form-control" asp-for="Entity.Telefono" v-model="Entity.Telefono" maxlength="250" required>
                </div>

                
                <div class="form-group form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="Entity.Estado" v-model="Entity.Estado" value="true">
                    <label class="form-check-label" for="Entity_Estado">Estado</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

@section Scripts{


    <script defer src="~/App/Cliente/Edit.js"></script>
}

