@page
@model WebApp.Pages.Manual.UserManualModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}
<h1 class="text-center">
    <br />
    <a href="@Url.Page("UserManual", "DownloadFile", "")">Download Manual</a>
</h1>