@page
@model WebApp.Pages.Factura.EditModel
@{ }

<br />
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">


                <input type="hidden" asp-for="Entity.IdFactura" v-model="Entity.IdFactura" />


                <div class="form-group mb-3">
                    <label for="Entity.ClientesId" class="form-label">Cliente</label>

                    <select asp-for="Entity.ClientesId" class="form-select" v-model="Entity.ClientesId"
                            asp-items="@(new SelectList(Model.ClienteLista,"ClientesId","NombreCompleto"))"
                            required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.pedido" class="form-label">Pedido</label>
                    <input type="text" class="form-control" asp-for="Entity.Pedido" v-model="Entity.Pedido" maxlength="1000">
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.TipoServicio" class="form-label">Exportación o Importación</label>
                    <input type="text" class="form-control" asp-for="Entity.TipoServicio" v-model="Entity.TipoServicio" maxlength="250">
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaFactura" class="form-label">Fecha Factura</label>

                    <b-form-datepicker id="FechaFactura" name="FechaFactura" class="form-control"
                                       v-model="Entity.FechaFactura" required>

                    </b-form-datepicker>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Monto" class="form-label">Monto $</label>
                    <input type="number" class="form-control" asp-for="Entity.Monto" v-model.number="Entity.Monto" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Impuesto" class="form-label">Impuesto</label>
                    <input type="number" class="form-control" asp-for="Entity.Impuesto" v-model.number="Entity.Impuesto" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.SubTotal" class="form-label">SubTotal $ :</label>
                    <span class="text-info">{{(Entity.Impuesto/100)*Entity.Monto}}</span>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Total" class="form-label">Total $</label>
                    @*<span>{{((this.Entity.Impuesto / 100) * this.Entity.Monto) + this.Entity.Monto}}</span>
                        <span>{{CalculoMontoTotalFn()}}</span>*@
                    <span class="text-info">{{CalculoMontoTotalCP}}</span>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Observaciones" class="form-label">Observaciones</label>
                    <input type="text" class="form-control" asp-for="Entity.Observaciones" v-model="Entity.Observaciones" maxlength="1000">
                </div>

                <div class="form-group form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="Entity.Estado" v-model="Entity.Estado" value="true">
                    <label class="form-check-label" for="Entity_Estado">Estado Activo/Inactivo</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Factura/FacturasEdit.js"></script>
}